.menu_left {
    list-style: none;
    margin: 0;
    padding: 0;
}
.box-content {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 2px #ddd;
}
.box_content_left .avatar_box, .box_header .box_img{
    width: 40px;
    height: 40px;
}
.menu_box_left {
    list-style: none;
    padding: 0;
    margin: 0;
}
.box_content_left{
    width: 10%;
}
.box_content_right {
    width: 90%;
}
.box_new_posts{
    height: 38px;
    resize: vertical;
    border-radius: 30px;
    background-color: #f0f2f5;
}
.item_menu_box_left i{
    font-size: 20px;
}
.add_action, #post {
    display: none;
}
.item_menu_left img{
    width: 30px;
    height: 30px;
}
.item_menu_left{
    border-radius: 5px;
}
.item_menu_left:hover{
    background-color: #e4e6eb;
}
.item_menu_left i{
    padding: 5px 17px 0 5px;
}
.item_menu_title {
    font-weight: 600;
}
.item_menu_left span{
    font-weight: 600;
}
.content_header {
    max-height: 200px;
}
.content_header .content_header_child{
    padding: 5px 8px 10px 8px;
}
.box_header .avatar_box {
    display: flex;
}
.box_header .avatar_box img{
    flex-grow: 1;
}
.box_header .avatar_box .name_time{
    flex-grow: 2;
}
.nameTime .name{
    font-size: 14px;
    font-weight: 500;
}
.nameTime .time{
    font-size: 12px;
    font-weight: normal;
    color: #9a9b9d;
}
.image1 img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 58px 0 0;
}
.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}
.item_menu_left a{
    color: #444;
}

/* css content list shop*/
.card-img-body {
    flex: 1;
    overflow: hidden;
    position: relative;
}
@media (max-width: 576px) {
    .card-img-body {
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }
}

.card-img {
    width: 100%;
    height: auto;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
}
@media (max-width: 1140px) {
    .card-img {
        margin: 0;
        transform: none;
        width: 100%;
        height: auto;
    }
}
#content_list_shop .cart-img-shop{
    max-width: 220px;
}
@media (min-width: 1368px) {
    #content_list_shop .cart-img-shop{
        height: 220px;
    }
}
@media (max-width: 1368px) {
    #content_list_shop .cart-img-shop{
        height: 180px;
    }
}
.comments_note {
    text-align: left;
    color: #878787;
}
.star_content .star {
    float: left;
    font-size: 12px;
}
.star_content .star_on i {
    color: #febd69;
}

