.products-section-title {
    clear: both;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 36px;
    margin: 0 0 10px;
    padding: 0;
    text-align: left;
    text-transform: capitalize !important;
}
.cart-summary-line .label {
    padding-left: 0;
    font-weight: normal;
    white-space: inherit;
    float: left;
    font-size: 13px;
}
.cart-summary-line {
    clear: both;
}
.card-block span{
    font-size: 14px;
}
.add-to-cart {
    background: #000;
    border: 1px solid #000;
    color: #fff;
}
.add-to-cart:hover {
    background: #febd69;
    border: 1px solid #febd69;
    color: #000;
}
.cart-grid-body a.label:hover {
    text-decoration: none;
}
.cart-header {
    position: relative;
}
.cart-sec {
    margin-bottom: 3em;
}
.cart-item {
    width: 30%;
    float: left;
    margin-right: 5%;
}
.cart-item img {
    width: 100%;
}
.cart-item-info {
    width: 65%;
    float: left;
}
.cart-item-info h3 {
    font-size: 1em;
    font-weight: 600;
}
.cart-item-info h3 a {
    color: #228b22;
    font-size: 16px;
    white-space: normal;
    font-weight: 500;
}
.cart-item-info h3 span {
    display: block;
    font-weight: 400;
    font-size: 0.85em;
    margin: 0.7em 0;
}
.cart-item-info .control-label {
    margin: 8px 20px 8px 0;
}
.all-product-link{
    color: #000;
}
.all-product-link:hover{
    text-decoration: none;
    color: #febd69;
}
.cart-grid-body {
    margin-bottom: 0.75rem;
}
.cart-grid-body .card-block {
    padding: 1rem;
}
.cart-header {
    position: relative;
}
.cart-sec {
    margin-bottom: 3em;
}
.cart-item {
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
}
.all-product-link {
    clear: both;
    font-weight: 600;
    margin: 15px 0;
    text-align: right;
    width: 100%;
    text-align: center;
}
