.logo-search .logo{
    width: 75px;
    height: auto;
}
.logo-search .logo img{
    width: 100%;
}
/*.logo-search .search .input-group{*/
/*    width: 220px;*/
/*}*/
.menu-header {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-header .item-menu{
    padding: 20px 25px 10px 25px;
    border-radius: 7px;
}
.menu-header .item-menu:hover{
    background-color: #e4e6eb;
}
.menu-header .item-menu.active{
    border-bottom: 2px solid forestgreen;
}
.menu-header .item-menu a{
    padding: 10px;
}
.menu-header .item-menu a i{
    color: #444;
    font-size: 22px;
}
.menu-header .item-menu.active a i{
    color: forestgreen;
}
.name_user_header {
    padding: 15px 0;
    font-size: 13px;
    font-weight: 500;
}
@media only screen and (max-width: 1200px) {
    .xl-1-header {
        display: block !important;
    }
}
@media only screen and (max-width: 1368px) {
    .logo img{
        margin-top: 10px;
    }
}
.navbar-badge {
    font-size: .6rem;
    font-weight: 300;
    padding: 2px 4px;
    position: absolute;
    right: -4px;
    top: -4px;
}
.badge-danger {
    color: #fff;
    background-color: #dc3545;
}
.badge-warning{
    color: #fff;
    background-color: #febd69;
}
.badge {
    display: inline-block;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.avatar_header .dropdown-toggle::after {
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
}
.dropdown-menu-lg .dropdown-item {
    padding: .5rem 1rem;
}
.dropdown-menu-lg .media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}
.img-size-50 {
    width: 50px;
    height: auto;
}
.img-circle {
    border-radius: 50%;
}
.media-body {
    -ms-flex: 1;
    flex: 1;
}
.dropdown-item-title {
    font-size: 1rem;
    margin: 0;
}
.dropdown-menu-lg p {
    margin: 0;
    white-space: normal;
}
.dropdown-menu-lg {
    min-width: 350px;
    padding: 0;
}
.dropdown-menu-lg .dropdown-divider {
    margin: 0;
}
.dropdown-footer, .dropdown-header {
    display: block;
    font-size: .875rem;
    padding: .5rem 1rem;
    text-align: center;
}
.dropdown-footer:hover{
    color: #33cea0;
    text-decoration: underline;
}
html{
    overflow: hidden;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.alert-dismissible {
    padding-right: 4rem;
}
.alert-warning {
    color: #1f2d3d;
    background: #ffc107;
    border-color: #edb100;
}
.alert-success {
    color: #fff;
    background: #28a745;
    border-color: #23923d;
}
.alert .close{
    color: #000;
    opacity: .2;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
}
.alert-dismissible .close{
    position: absolute;
    top: 0;
    right: 0;
    padding: .75rem 1.25rem;
    color: inherit;
}
button.close{
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.alert h5 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    margin-top: 0;
    font-size: 1.25rem;
}
.alert .icon {
    margin-right: 10px;
}
.alert .fas {
    font-weight: 900;
}
.alert .close:not(:disabled):not(.disabled):hover{
    opacity: .75;
}
