.logo-search .logo{
    width: 75px;
    height: auto;
}
.logo-search .logo img{
    width: 100%;
}
/*.logo-search .search .input-group{*/
/*    width: 220px;*/
/*}*/
.menu-header {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-header .item-menu{
    padding: 20px 25px 10px 25px;
    border-radius: 7px;
}
.menu-header .item-menu:hover{
    background-color: #e4e6eb;
}
.menu-header .item-menu.active{
    border-bottom: 2px solid forestgreen;
}
.menu-header .item-menu a{
    padding: 10px;
}
.menu-header .item-menu a i{
    color: #444;
    font-size: 22px;
}
.menu-header .item-menu.active a i{
    color: forestgreen;
}
.name_user_header {
    padding: 15px 0;
    font-size: 13px;
    font-weight: 500;
}
@media only screen and (max-width: 1200px) {
    .xl-1-header {
        display: block !important;
    }
}
@media only screen and (max-width: 1368px) {
    .logo img{
        margin-top: 10px;
    }
}
.navbar-badge {
    font-size: .6rem;
    font-weight: 300;
    padding: 2px 4px;
    position: absolute;
    right: -4px;
    top: -4px;
}
.badge-danger {
    color: #fff;
    background-color: #dc3545;
}
.badge-warning{
    color: #fff;
    background-color: #febd69;
}
.badge {
    display: inline-block;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.avatar_header .dropdown-toggle::after {
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
}
